
#admission-form {
  background-color: #ffa500;
  padding: 50px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: #ff3333;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

form {
  text-align: left;
  margin-top: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  color: #ff3333;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff3333;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
